<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
<body id="index_page">
    <nav>
        <div class="wrap_nav">
        <div class="e_nav n_a">
        <a href="http://127.0.0.1:5000/v2/">My Weight</a>
            </div>
        <div class="e_nav n_b">
            <a href="http://127.0.0.1:5000/auth/register">Join</a>
        </div>
        <div class="e_nav n_c">
            <a href="http://127.0.0.1:5000/auth/login">Log In</a>
        </div>
        </div>
    </nav>

<div class="title_1">Community Posts</div>

<!-- display posts -->
<div class="post"></div>

<footer></footer>

<script src="../../static/scripts.js"></script>
</body>
</html>
